<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <justpush>
            <general>
                <enabled>0</enabled>
                <send_immediately>0</send_immediately>
            </general>
            <webhooks>
                <order_placed/>
                <invoice_paid/>
                <order_refunded/>
                <customer_registered/>
                <admin_login/>
            </webhooks>
        </justpush>
    </default>
</config>
